*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(to top left, rgb(88, 180, 70) , rgb(105, 255, 168));
    background-repeat:no-repeat ;
    height: 100vh;
    font-family: arial;
}

form{
    width: 25%;
    margin: 60px auto;
    background: rgb(238, 226, 226);
    height: 550px;
    border-radius: 10px;
    padding: 60px 0 ;
    text-align: center;
    overflow: hidden;
}
h2{
    font-size: 40px;
}
input{
    margin-top: 40px;
    display: inline-block;
    width: 70%;
    padding: 10px 0 ;
    border: none;
    border-bottom: 1px solid rgb(8, 8, 8);
    font-size: 20px;

}
input[type="submit"]{
    margin-top: 70px;
    background-image: linear-gradient(to top left, rgb(88, 180, 70) , rgb(140, 255, 105));
    border-radius: 10px;
    color: rgb(13, 17, 9);

}
@media screen and (max-width:550){
    form{
        width: 70%;

    }
}
@media screen and (max-width:350){
    form{
        width: 90%;

    }
    h2{
        font-size: 35px;
    }
}
